<div class="contenedor">
  <button class="btn btn-primary log-out-btn" (click)="logout()">Log Out</button>
<div class="boxInfo">
<div class="topBox">

  Inicio
</div>

<div>

<h6 class="indicaciones">Indicaciones del juego</h6>
<p class="instrucciones">Para iniciar el juego debes estar registrado, incluso los jugadores.</p>
<button class="btn" [routerLink]="['/crearJuego']" routerLinkActive="router-link-active"  >Crear Juego</button>

</div>

<div class="sticky-bottom invitar">
  Invitar amigos
</div>
</div>

</div>
